body{

  min-height : 100%;
  background:linear-gradient(rgba(31, 189, 0, 0.5),transparent);
  background-color:white 
  
}



/* text entry box for number of questions to ask */
#num_questions{
  margin: auto;
  display: block;
  text-align: center;
}

#top_logo_text{
  text-align:center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 75px;
}

#submit_button{
  margin-left:10px;
}

#submit{
  margin: auto;
  display: block;
}
